@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width:280px) {

    header {
        background-color: #00007F;
    }

    header div {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

    header img {
        width: 100px;
    }

    header h1 {
        color: #fff;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
    }

   ol{
    padding: 25px;
   }

    }

    ul {
        list-style: none;
        background-color: #00000015;
        margin: 20px;
        padding: 15px;
        border-radius: 10px;
        width: 310px;
    }

    li {
        margin-bottom: 5px;

    }

    label {
        color: #E14043;
        font-weight: 600;
    }

    select {
        width: 270px;
        border: 1px solid #000;
        border-radius: 10px;
        margin: 10px 0 15px 0;
        cursor: pointer;
    }

    option {
        border: 1px solid #000;
    }



h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px auto;
    font-size: 30px;
    font-weight: 600;
    color: #00007F;
}


/* LOGIN PAGE*/



#container-login {
    padding: 10px;
    background-color: #00000015;
    width: 250px;
    height: 120px;
    border-radius: 10px;
}

.input-login {
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#button-login {
    width: 65px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #00007F;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
}

#link-botton-entrar {
    text-decoration: none;
    color: #fff;
}

#link-register {
    margin-top: 18px;
    font-size: 12px;
}




/* CADASTRO */




#container-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #00000015;
    width: 240px;
    height: 255px;
    border-radius: 10px;
}

#button-register {
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #00007F;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.input-form-register {
    width: 160px;
    height: 20px;
    font-size: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: none;
    margin-bottom: 10px;
}

/* OPERAÇÕES */

/*QUALITY GATE*/