* {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #00007f;
}

header div {
  position: absolute;
  left: 10px;
}

header img {
  position: relative;
  top: 6px;
  width: 70px;
  padding: 5px;
}

header h1 {
  position: absolute;
  top: 10px;
  left: 90px;
  color: #fff;
  font-size: 40px;
  padding: 10px;
}

#title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 110px;
  margin-left: 130px;
}

.container {
  width: 600px;
  height: 530px;
  overflow: hidden;
  position: relative;
  top: -60px;
  border-radius: 30px;
}

.content {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(190, 190, 190);
  border-radius: 30px;
  border: 1px solid #000;
}

/* PARAGRAFO 40 */

#paragrafh-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 10%;
  box-sizing: border-box;
  padding: 10px 5px;
  background-color: rgb(76, 192, 76);
  color: #000;
  border: 1px solid #000;
  border-radius: 10px;
}

#fortieth-point {
  z-index: 61;
}

/* PARAGRAFO 39 */

#paragrafh-39 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#thiertieth-nineth-point {
  z-index: 62;
}

/* PARAGRAFO 38 */

#paragrafh-38 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#thiertieth-eighth-point {
  z-index: 63;
}

/* PARAGRAFO 37 */

#paragrafh-37 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-37 img {
  position: relative;
  left: 25%;
  top: 25%;
  position: relative;
  width: 300px;
}

#thiertieth-seventh-point {
  z-index: 64;
}

/* PARAGRAFO 36 */

#paragrafh-36 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-36 img {
  position: relative;
  display: inline-block;
  left: 6%;
  top: 25%;
  position: relative;
  width: 230px;
}

#thiertieth-sixth-point {
  z-index: 65;
}

/* PARAGRAFO 35 */

#paragrafh-35 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-35 img {
  position: relative;
  left: 23%;
  top: 25%;
  position: relative;
  width: 300px;
}

#thiertieth-fifth-point {
  z-index: 66;
}

/* PARAGRAFO 34 */

#paragrafh-34 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-34 img {
  position: relative;
  left: 15%;
  top: 5%;
  position: relative;
  width: 250px;
  margin-left: 80px;
}

#thiertieth-fourth-point {
  z-index: 67;
}

/* PARAGRAFO 33 */

#paragrafh-33 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-33 img {
  position: relative;
  left: 15%;
  position: relative;
  width: 200px;
  margin-left: 80px;
}

#thiertieth-third-point {
  z-index: 68;
}

/* PARAGRAFO 32 */

#paragrafh-32 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#thiertieth-second-point {
  z-index: 69;
}

/* PARAGRAFO 31 */

#paragrafh-31 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-31 img {
  position: relative;
  left: 15%;
  position: relative;
  width: 200px;
  margin-left: 80px;
  margin-top: 20px;
}

#thiertieth-first-point {
  z-index: 70;
}

/* PARAGRAFO 30 */

#paragrafh-30 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#thirtieth-point {
  z-index: 71;
}

/* PARAGRAFO 29 */

#paragrafh-29 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-29 img {
  position: relative;
  left: 15%;
  position: relative;
  width: 170px;
  margin-left: 100px;
  margin-top: 20px;
}

#twenty-nineth-point {
  z-index: 72;
}

/* PARAGRAFO 28 */

#paragrafh-28 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#twenty-eighth-point {
  z-index: 73;
}

/* PARAGRAFO 27 */

#paragrafh-27 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#twenty-seventh-point {
  z-index: 74;
}

/* PARAGRAFO 26 */

#paragrafh-26 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#twenty-sixth-point {
  z-index: 75;
}

/* PARAGRAFO 25 */

#paragrafh-25 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-25 img {
  position: relative;
  left: 10%;
  position: relative;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

#twenty-fifth-point {
  z-index: 76;
}

/* PARAGRAFO 24 */

#paragrafh-24 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-24 img {
  position: relative;
  left: 10%;
  position: relative;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

#twenty-fourth-point {
  z-index: 77;
}

/* CALIBRAÇÃO JENOPTIK */
#jenoptik-calibration{
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

/* VOLTAR PARA O PONTO 23*/
#button-return-point-23 {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

/* PARAGRAFO 23 */

#paragrafh-23 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#twenty-third-point {
  z-index: 78;
}

/* PARAGRAFO 22 */

#paragrafh-22 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-22 img {
  position: relative;
  left: 10%;
  position: relative;
  width: 250px;
  margin-left: 100px;
  margin-top: 20px;
}

#twenty-second-point {
  z-index: 79;
}

/* PARAGRAFO 21 */

#paragrafh-21 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-21 img {
  position: relative;
  left: 10%;
  position: relative;
  width: 190px;
  margin-left: 100px;
  margin-top: 20px;
}

#twenty-first-point {
  z-index: 80;
}

/* PARAGRAFO 20 */

#paragrafh-20 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-20 img {
  position: relative;
  top: 10%;
  left: 20%;
  width: 300px;
}

#twentieth-point {
  z-index: 81;
}

/* PARAGRAFO 19 */

#paragrafh-19 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-19 img {
  position: relative;
  top: 10%;
  left: 20%;
  width: 300px;
}

#nineteenth-point {
  z-index: 82;
}

/* PARAGRAFO 18 */

#paragrafh-18 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-18 img {
  position: relative;
  display: inline-block;
  top: 5%;
  left: 4%;
  width: 200px;
  margin-left: 30px;
}

#eighteenth-point {
  z-index: 83;
}

/* PARAGRAFO 17 */

#paragrafh-17 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-17 img {
  position: relative;
  top: 5%;
  left: 35%;
  width: 160px;
}

#seventeenth-point {
  z-index: 84;
}

/* PARAGRAFO 16 */

#paragrafh-16 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-16 img {
  position: relative;
  top: 0;
  left: 10%;
  width: 200px;
  margin-left: 100px;
  border-radius: 10px;
}

#sixteenth-point {
  z-index: 85;
}

/* PARAGRAFO 15 */

#paragrafh-15 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-15 img {
  position: relative;
  top: -9%;
  left: 10%;
  margin-left: 30px;
  width: 170px;
}

#fifteenth-point {
  z-index: 86;
}

/* PARAGRAFO 14 */

#paragrafh-14 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-14 img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 5%;
  width: 190px;
  margin-left: 30px;
  border-radius: 10px;
}

#fourteenth-point {
  z-index: 87;
}

/* PARAGRAFO 13 */

#paragrafh-13 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-13 img {
  position: relative;
  top: 2%;
  left: 35%;
  height: 240px;
}

#thirteenth-point {
  z-index: 88;
}

/* PARAGRAFO 12 */

#paragrafh-12 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-12 img {
  position: relative;
  top: 2%;
  left: 6%;
  width: 250px;
  margin-left: 100px;
}

#twelfth-point {
  z-index: 89;
}

/* PARAGRAFO 11 */

#paragrafh-11 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-11 img {
  position: relative;
  top: 10%;
  left: 25%;
  width: 250px;
}

#eleventh-point {
  z-index: 90;
}

/* PARAGRAFO 10 */

#paragrafh-10 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-10 img {
  position: relative;
  top: 20%;
  left: 30%;
  width: 250px;
}

#teenth-point {
  z-index: 91;
}

/* PARAGRAFO 9 */

#paragrafh-9 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-9 img {
  position: relative;
  top: 5%;
  left: 25%;
  width: 250px;
}

#nineth-point {
  z-index: 92;
}

/* PARAGRAFO 8 */

#paragrafh-8 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-8 img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 8%;
  width: 200px;
  margin-left: 20px;
}

#eighth-point {
  z-index: 93;
}

/* PARAGRAFO 7 */

#paragrafh-7 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-7 img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 15%;
  width: 160px;
  margin-left: 20px;
}

#seventh-point {
  z-index: 94;
}

/* PARAGRAFO 6 */

#paragrafh-6 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-6 img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 8%;
  width: 150px;
  margin-left: 50px;
}

#sixth-point {
  z-index: 95;
}

/* PARAGRAFO 5 */

#paragrafh-5 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-5 img {
  position: relative;
  display: inline-block;
  top: 2%;
  left: 14%;
  width: 190px;
}

#fifth-point {
  z-index: 96;
}

/* PARAGRAFO 4 */

#paragrafh-4 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-4 img {
  position: relative;
  top: 0;
  left: 10%;
  width: 180px;
  margin-left: 120px;
}

#fourth-point {
  z-index: 96;
}

/* PARAGRAFO 3 */

#paragrafh-3 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-3 img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 5%;
  width: 200px;
  margin-left: 20px;
  border-radius: 10px;
}

#third-point {
  z-index: 97;
}

/* PARAGRAFO 2 */

#paragrafh-2 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#paragrafh-2 img {
  position: relative;
  top: -8%;
  left: 10%;
  width: 200px;
  margin-left: 100px;

  border-radius: 10px;
}

#second-point {
  z-index: 98;
}

/* PARAGRAFO 1 */

#paragrafh-1 {
  width: 90%;
  height: 60%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  margin-top: -100px;
  border: 1px solid #000;
  border-radius: 10px;
}

#first-point {
  z-index: 99;
}

.buttons {
  position: absolute;
  bottom: 3%;
}

#button-1 {
  position: absolute;
  bottom: 3%;
  border-radius: 50px;
}

button {
  width: 200px;
  border-radius: 50px;
  cursor: pointer;
  background-color: #00007f;
  color: #fff;
}

button:hover {
  opacity: 0.5;
  color: #fff;
}

span {
  background-color: rgb(190, 190, 190);
}
